.events-wrapper {
  margin-top: 65px;
  background-color: $white;
  border-radius: 10px;

  .row {
    margin: 10px 0;
  }

  h1 {
    font-size: 18px;
    color: $mainDarkBlue
  }

  .event-card {
    &--side {
      color: $mainDarkBlue;
      padding: 0;
      text-align: center;
    }

    &--date {
      font-size: 20px;
    }

    &--month {
      font-size: 14px;
    }

    &--actions {
      background: $lightblue;
      color: white;
      border-radius: 10px 0 2px 0;
      bottom: 0;
      font-size: 14px;
      margin: 0;
      padding: 5px 10px;
      position: absolute;
      right: 0;

      svg {
        margin-left: 5px;
      }
    }
  }
}

.select-event {
  background-color: $white;
  border-radius: 10px;
  border-top: $green 1px solid;
  cursor: pointer;
  margin: 5px;
  padding: 15px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
